<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.business.rushour.businessapp">

    <uses-feature android:name="android.hardware.camera" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/res12"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>

        <activity android:name=".OwnerRegistrationActivity" />
        <activity android:name=".RiderRegistrationActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity
            android:name=".OwnerMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RiderMainActivity"
            android:label="@string/title_activity_owner_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".TabRegistrationActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".PostRideSuccessScreen"/>
        <activity android:name=".NavigationTrackRideActivity" />
        <activity android:name=".NavigationHistoryActivity" />
        <activity android:name=".NavigationProfileActivity" />
        <activity android:name=".NavigationWalletActivity" />
        <activity android:name=".NavigationAboutUsActivity"/>
        <activity android:name=".NavigationTermsConditionsActivity"/>
        <activity android:name=".NavigationContactUsActivity" />
        <activity android:name=".NavigationLogoutActivity"/>
        <activity android:name=".OwnerRequestRideActivity" />
        <activity android:name=".RiderRegistrationAsOwnerActivity"/>

    </application>
</manifest>